#mwkPhpInfo {
    margin: 10px;
}

#mwkPhpInfo table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

#mwkPhpInfo th,
#mwkPhpInfo td {
    border: 1px solid #bbbbbb;
    padding: 2px;
    word-break:break-all;
    word-wrap:break-word;
}

#mwkPhpInfo th {
    height: 22px;
    color: #fff;
    background: #9a9c9a;
    background-image: -moz-linear-gradient(top, #9a9c9a, #b3b6b3);
    background-image: -webkit-linear-gradient(top, #9a9c9a, #b3b6b3);
    background-image: -o-linear-gradient(top, #9a9c9a, #b3b6b3);
    background-image: -ms-linear-gradient(top, #9a9c9a, #b3b6b3);
    background-image: linear-gradient(to bottom, #9a9c9a, #b3b6b3)
}

#mwkPhpInfo .e {
    background-color: #e5e5e5;
    font-weight: bold;
    vertical-align: top;
}


#mwkPhpInfo img {
    float: right;
}

#mwkPhpInfo h1 {
    font-size: 1.063rem;
}

#mwkPhpInfo h2 {
    font-size: .875rem;
}